*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{
  font-size: 62.5%;
}

html{
  font-size: 1.6rem;
}

body{
  --bg-color: #FFFFFF;
  --bg-secondary-color: #E1E1E6;
  --bg-hover-active:#02799D;
  --button-color: #323238;
  --timer-color: #000000;
  --button-secondary-color: #ffffff;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  min-height: 100vh;

  background-color: var(--bg-color);
}

main{
  min-height: 100vh;
  display: flex;
  position: relative;
}

button{
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
}

/*========= dark mode ==========*/
body.dark-mode{
  --bg-color: #000000;
  --bg-secondary-color: #29292E;
  --bg-hover-active:#0A3442;
  --timer-color: #ffffff;
  --button-color: #C4C4CC;
  --button-secondary-color: #ffffff;

  background-color: var(--bg-color);
}

.light-day, .night{
  position: absolute;
  top: 6rem;
  right: 6rem;

  cursor: pointer;
}

.light-day svg path, .night svg path{
  fill: var(--timer-color);
}
.hide{
  display: none;
}

main .container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 82.1rem;
  margin: auto;
}

#timer{
  font-size: 12.617rem;
  line-height: 14.785rem;
  margin-bottom: 1.7rem;
  display: flex;
  color: var(--timer-color);
}

#controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-button{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.bg-button button svg path:first-child{
  fill: var(--bg-secondary-color);
}

.bg-button button:hover svg path:first-child,
.bg-button button.check svg path:first-child{
  fill: var(--bg-hover-active);
}

.bg-button button svg path:last-child{
  fill: var(--button-color);
}

.bg-button button:hover svg path:last-child,
.bg-button button.check svg path:last-child{
  fill: var(--button-secondary-color);
}

#controls button svg path{
  fill: var(--button-color);
}

#controls button:hover svg path{
  fill: var(--bg-hover-active);
}